*.js linguist-language=JavaScript linguist-detectable
*.jsx linguist-language=JavaScript linguist-detectable
*.css linguist-language=CSS linguist-detectable
*.html linguist-language=HTML linguist-detectable
client/src/** linguist-vendored=false linguist-generated=false linguist-documentation=false
server/** linguist-vendored=false linguist-generated=false linguist-documentation=false
